<!doctype html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - CorpoCorp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script-->
  {% endblock %}
</head>
  <body>
    <div id="content" style=" margin: 25px 50px 75px;">
    {% block content %}
    {% endblock %}
    </div>
  <div id="footer">
        {% block footer %}
        &copy; Copyright 2021 by <a href="http://michaelrcondon.com">Michael Condon</a>.
        {% endblock %}
    </div>
  </body>
</html>
